<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=
    , initial-scale=1.0"
        />
        <title>PHP ToDo List JSON</title>
        <link rel="stylesheet" href="app.css" />
        <script src="https://kit.fontawesome.com/f5eda7a296.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="input-box">
                    <h2>To Do List</h2>
                    <div class="input-field">
                        <input type="text" v-model="newTask" @keyup.enter="addTask"> 
                        <label>New Task</label>
                    </div>
                </div>
                <div>
                    <ul>
                        <li class="todos_item" v-for="(toDoItem, index) in toDoList" :key="index" >
                            <span @click="doneTask(index)" :style="{ textDecoration: (toDoItem.done)?'line-through':'none' }">{{ toDoItem.text }}</span>
                            <span @click="deleteTask(index)"><i class="fa-solid fa-trash-can"></i></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>
